@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
}
p {
  font-size: 25px;
  line-height: 35px;
}
h2{
   font-size: 50px;
}
.clearfix {
   clear: both;
 }
.nav img {
  float: left;
}
.list {
  float: right;
}

.list li {
  display: inline-block;
  padding: 30px 20px;
}

.hero {
  height: 80vh;
  background: url("../images/ezgif-2-b583d0ce77.png") no-repeat center
    center/cover;
  position: relative;
}
.hero-content {
  padding-right: 200px;
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(0%, -40%);
}
.hero-content h1 {
  color: #496bf2;
  font-size: 50px;
}
.hero-content p {
  margin: 30px 0;
}
.buttons button:last-child {
  margin-left: 20px;
}
.color {
  color: #496bf2;
}
.class {
  cursor: pointer;
}
.btn {
  border: none;
  color: white;
  padding: 20px 40px;
  font-size: 20px;
  border-radius: 5px;
}

.btn-blue {
  background-color: #496bf2;
}
.btn-green {
  background-color: #2dd6c1;
}

.card {
  float: left;
  box-shadow: 0 0 5px gray;
  width: 30%;
  padding: 28px;
  text-align: center;
  
}
.card h3{
   color:#496bf2;
   font-size: 30px;
   margin: 20px 0;
}
.card:nth-child(2){
   margin: 0 5%;
}
.about-us{
   
   margin:100px 0;
}
.about-img{
   width: 50%;
   float: left;
}
.about-content{
   width: 48%;
   float: right;

}
.about-content p{
   margin: 20px 0;
}
.concepts{
   text-align: center;
}
.about-content img{
   margin-top:30px ;
}
.concepts p{
   margin: 20px 600px;
}


.bold {
  padding: 10px;
  background-color: #496bf2;
  color: beige;
}
/* h3{
    color: #496BF2;
    margin:0 100px;
 } */

.testimonial-circle {
  width: 20px;
  height: 20px;
  border: 2px solid gainsboro;
  border-radius: 50%;
  display: inline-block;
  margin: 6px;
}  

.lucy{
   color:#496bf2;
   margin: 30px 0;
}
.circle{
  margin: 10px 0;
}

.points {
  color: #496bf2;
}

.figure {
  height: 65vh;
  background: url("../images/ezgif-2-81a50240fb.png") no-repeat center
    center/cover;
}
.section{
  text-align: center;
}

 e {
  margin: 0 80px;
}
.simo {
  color: #496bf2;
}

.sly {
  color: #2dd661;
}
.mercy {
  color: #496bf2;
}
.lock {
  margin: 9px 12px;
  padding: 20px 30px;
  background-color: #496bf2;
  color: beige;
}
.exerlence {
  color: #2dd6c1;
}
.participation {
  color: #496bf2;
}
.fonts {
  font-size: large;
}

.services {
  margin: 70px 0;
}


.icons {
  display: flex;
  margin: 50px 0;
}
.icons li{
  line-height: 35px;
}
.diff {
  width: 25%;
}
.period {
  padding: 12px;
}
.prices:nth-child(2) img{
  margin: 0 30px;
}
li {
  list-style-type: none;
}
.x-tics {
  background-color: #496bf2;
}
.points {
  background-color: #496bf2;
}
.person {
  background-color: #2dd661;
}
.home {
  color: #496bf2;
}
.sila {
  padding-left: 10px;
}
