.hero{
    float:right;
    
}

.list li{
    display:inline-block;
    padding:0  20px;

}
.clearfix{
    clear:both;
}
.care{
    height:50vh;
    background:url("../images/ezgif-2-b583d0ce77.png") no-repeat center center/cover;
    position:relative;
}
.content{
    position:absolute;
    top:30%;
    left:55%;
    transform:translate(0%,-40%)
}
.color{
    color:blueviolet;
}
.class{
    cursor:pointer;
}
.head{
    color:rgb(51, 102, 179)
}
.col{
padding:8px;
background-color:#496BF2;

}
.pet{
    padding:8px;
    background-color:#2DD661;
}
 .txt{
    float:left;
box-shadow:0 0 5px;
width:17%;
padding:10px;
margin:25px;
 }
 .clearfix{
    clear:both;
 }
 .doctor{
    float: left;
 }
 .clearfix{
    clear:both;
 }
 .words{
margin:0 5px;;
 }
 .bold{
    padding:8px;
    background-color: #496BF2;
 }
 h3{
    color: #496BF2;
    margin:0 100px;
 }

 .testimonial-circle{
    width:20px;
    height: 20px;
    border: 2px solid rgb(37, 120, 187);
    border-radius: 50%;
    display: inline-block;
    margin:6px;
 }
 .circle{
    margin:10px 150px;
 }
 .ponts{
    color:#496BF2;

 }
 .money{
    margin:50px 500px
 }
 .partone{
     
    
 }
 .figure{
    height:90vh;
    background:url("../images/ezgif-2-81a50240fb.png") no-repeat center center/cover;
 }
 .inputs{
    margin:20px;
    padding:30px;
 }
 .life{
    padding: 20px;
    margin:10px

 }
 .space{
    margin:0 80px;
 }
 .simo{
    color:#496BF2;
 }
.gloria{
    margin:0 25%;
}
.sly{
    color:#2DD661;
}
.mercy{
    color:#496BF2;
}
.lock{
    margin:0 10px;
    padding:0 10px
}



